
<% if is_logged_in? %>

<center><h4>Signed in as <b><%= current_user.username.upcase %></b> and viewing all logged incidents</h4></center>
    <hr>
    <center> 
    <h2><a href="/incidents/new">Report new incident</a></h2>
    
    
<% end %>
<center>
  
    <% @incidents.reverse.each do |incident| %>

        <strong>Victim Name:</strong> <%= incident.victim_name %> <BR>
        <strong>Incident Date:</strong> <%= incident.incident_date %> <BR>
        <strong>Agency Responsible:</strong> <%= incident.agency_responsible %><BR>
        <strong>Crime Category:</strong> <%= incident.crime_category %><BR>
        <a href='/incidents/<%= incident.id %>'>more info</a>
        <hr width=30% align=center>


 

    <% end %>
   